/***   Room List Side Menu   ***/
#room-list {
  min-height: 100vh;
  height: 100vh;
  padding: 30px;
  background-color: #F5F5F5; /*light grey*/
  color: #055b83; /* almost black */
  font-family: 'Economica', 'Open Sans';
  overflow-y: scroll;
}

#new-room-button {
  margin: 15px 0px;
}

.retrievingRoomList {
  padding: 0;
  list-style-type: none;
}

.eachRoom {
  font-size: 1.45em;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
/*  text-shadow: 2px 2px 4px #000608; */
}

.eachRoom:hover {
  color: #4c9fb2; /* dark blue */
  /* padding: 10px 40px; */
}

.eachRoom ion-icon {
  /*padding-right: 5px;*/
}

.modal-title {
  font-size: 1.5em;
}

.modal-body {
  font-size: 1em;
}

.createNewRoom ion-icon {
  padding-left: 5px;
}
