.sidebar {
  min-height: 100vh;
  height: 100vh;
  color: #055b83; /* almost black */
  overflow-y: scroll;
}

p {
  color: #055b83;
  font-size: 24px;
  font-weight: bolder;
}

.retrievingRoomList {
  list-style-type: none;
  padding-inline-start: 0px;
}

.retrievingRoomList li ion-icon {
  visibility: hidden;
}

.retrievingRoomList li:hover ion-icon {
  visibility: visible;
}

.retrievingRoomList li:hover {
  box-shadow: inset 1px 0 0 #dadce0,
  inset -1px 0 0 #dadce0,
  0 1px 2px 0 rgba(60,64,67,.3),
  0 1px 3px 1px rgba(60,64,67,.15);
  z-index: 1;
}

.eachRoom {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.eachRoom ion-icon:nth-child(2) {
  padding-left: 5px;
}

.modal-title {
  font-size: 1.5em;
}

.primary-buttons .btn {
  background-color: #F15978;
  border-color: #F15978;
}


.createNewRoom {
  font-size: 18px;
}

.createNewRoom ion-icon {
  padding-right: 3px;
  font-size: 20px;
}

#new-room-modal-button ion-icon {
  padding-right: 5px;
}