/***   Room List Side Menu   ***/
#room-list {
  min-height: 100vh;
  height: 100vh;
  padding: 30px;
  background-color: #F5F5F5; /*light grey*/
  color: #055b83; /* almost black */
  font-family: 'Economica', 'Open Sans';
  overflow-y: scroll;
}

h3 {
  color: #f7a0b1;
  font-weight: bolder;
}

.retrievingRoomList {
  list-style-type: none;
  padding-inline-start: 0px;
}

.retrievingRoomList li ion-icon {
  visibility: hidden;
}

.retrievingRoomList li:hover ion-icon {
  visibility: visible;
}

.retrievingRoomList li:hover {
  box-shadow: inset 1px 0 0 #dadce0,
  inset -1px 0 0 #dadce0,
  0 1px 2px 0 rgba(60,64,67,.3),
  0 1px 3px 1px rgba(60,64,67,.15);
  z-index: 1;
}

.eachRoom {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: 1.5em;
}

.primary-buttons .btn {
  background-color: #F15978;
  border-color: #F15978;
}

.primary-buttons ion-icon {
  font-size: 18px;
}

.createNewRoom {
  font-size: 18px;
}

.createNewRoom ion-icon {
  padding-right: 3px;
  font-size: 20px;
}

#new-room-button {
  position: fixed;
  bottom: 0;
  font-size: 18px;
}

#new-room-button ion-icon {
  padding-right: 5px;
}
