/***   User section   ***/
.user-icon {
  font-size: 84px;
  line-height: 0.5;
  color: #f7a0b1;
}

.user-name {
  font-size: 1.75em;
  font-weight: bolder;
  color: #055b83;
  padding-bottom: 7px;
}

/* Login/out button */

.btn-group {
  margin-top: -20px;
  caret-color: red;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

.dropdown-item {
  font-size: 1.25em;
  color: #055b83;
}

.user-info {
  display: flex;
  border-bottom: 3px solid #FFF; /* white */
}
