/***   User section   ***/

.user-icon {
  font-size: 84px;
  line-height: 0.5;
  color: #f7a0b1;
}

.user-name {
  font-size: 1.75em;
  font-weight: bolder;
  color: #4c9fb2;
  border-bottom: 3px solid #FFF; /* light blue */
  /*text-shadow: 2px 2px 4px #808080;*/
  padding-bottom: 7px;
}

/* Sign in/out buttons */

.btn-group {
  margin-top: -15px;
}

.sign-in-out {
  /*
  margin-top: -15px;
  height: auto;
  width: auto;
  padding: 7px 10px;
  font-size: 20px;
  border-radius: 4px;
  */
}

.sign-in-out:focus {
  outline: none;
}

.user-info {
  display: flex;
}
