/***   User section   ***/
.user-icon {
  font-size: 84px;
}

.user-name {
  font-size: 1.75em;
}

.user-info {
  display: flex;
  border-bottom: 3px solid #FFF; /* white */
}

/* Login/out button */
.dropdown-item {
  font-size: 1.25em;
}


