.roomList {
  background-color: rgb(170, 164, 186);
  overflow-y: scroll;
  position: absolute;
  outline: none;
  width: 400.680px;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  font-family: Montserrat;
  font-size: 1.3125rem;
}
