.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 100px 2fr 1fr;
  grid-template-areas:
  "a h h h h h h h"
  "a m m m m m m m"
  "f nm nm nm nm nm nm nm";
}

/***   Header   ***/
.app-name {
  grid-area: h;
  text-align: left;
  font-size: 4.5em;
  font-weight: 500;
  font-style: oblique;
  font-family: 'Sacramento', Roboto;
  background-color: #055b83;
  text-shadow: 1px 1px 2px #000608;
  color: #F0676A;
  padding-left: 10px;
  -webkit-box-shadow: 0 6px 6px -6px black;
   -moz-box-shadow: 0 6px 6px -6px black;
        box-shadow: 0 6px 6px -6px black;
}

.header-icon {
  color: #FCFBFB;
  font-size: 45px;
}

/***   Side Menu   ***/
.user-icon {
  font-size: 84px;
  line-height: 0.5;
}

button {
  height: auto;
  width: auto;
  padding: 7px 10px;
  margin: 2px;
  background: #E78E4F;
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
}

.sign-in-out {
  margin-bottom: 20px;
}

.user-name {
  font-size: 1.75em;
  font-weight: bolder;
  border-bottom: 3px solid #055b83;
  text-shadow: 2px 2px 4px #000608;
}

.room-list {
  grid-area: a;
  padding: 40px;
  background-color: #54C4A2;
  color: white;
  font-family: 'Economica', 'Open Sans';
}

.eachRoom {
  font-size: 1.45em;
  font-weight: bolder;
/*  text-shadow: 2px 2px 4px #000608; */
}

.eachRoom:hover {
  background-color: #055b83;
  padding: 10px 40px;
}

.createNewRoom label {
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000608;
}

.submit-button {
  background: #E78E4F;
  margin: 5px 10px;
  border-radius: 4px;
  padding: 2px 20px;
  color: white;
}

.submit-button ion-icon{
  padding-right: 15px;
}

/***   Main Message Section   ***/

.main-section {
  grid-area: m;
  align-content: end;
  font-family: 'Economica', 'serif';
  font-size: large;
  padding: 15px;
}

.retrieveMessages li {
  list-style-type: none;
}

.contact-icon {
  font-size: 35px;
  margin-right: 10px;
  color: #055b83;
}

.message-username {
  color: #033952;
  font-size: 20px;
  text-align: left;
}

.message-sentAt {
  margin-left: 10px;
  color: #ad92a2;
}

.message-content {
  padding-bottom: 20px;
}

.createNewMessage {
  position: fixed;
  bottom: 0;
  font-size: 1.2em;
}

.newmessage-button {
  background: #E78E4F;
  margin: 5px 10px;
  border-radius: 4px;
  padding: 2px 20px;
  color: white;
}

.newmessage-button i {
  padding-left: 12px;
}

/* Footer */
footer {
  grid-area: f;
  border-top: 7px solid #055b83;
  background-color: #033952;
  color: white;
  padding-left: 10px;
  font-family: 'Economica', 'serif';
}
