.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 1fr;
  grid-template-areas:
  "a h h h h h h h h h h h"
  "a m m m m m m m m m m m"
  "f m m m m m m m m m m m";
}

.app-name {
  grid-area: h;
  text-align: left;
  font-size: 4em;
  font-style: oblique;
  font-family: 'Sacramento', Roboto;
  background-color: #F5F8F9;
  text-shadow: 1px 1px 2px #000608;
  color: #F0676A;
  padding-left: 10px;
}

button {
  height: auto;
  width: auto;
  padding: 10px;
  margin: 2px;
  background: #E78E4F;
  color: #ffffff;
  font-size: 20px;
  border-radius: 4px;
}

.user-name {
  font-size: 1.5em;
  border-bottom: 3px solid #055b83;
  text-shadow: 2px 2px 4px #000608;
}

.user-icon {
  padding-right: 5px;
}

.room-list {
  grid-area: a;
  padding: 40px;
  background-color: #54C4A2;
  color: white;
  font-family: 'Economica', 'Open Sans';
}

.eachRoom {
  font-size: 1.25em;
//  text-shadow: 2px 2px 4px #000608;
}

.eachRoom:hover {
  background-color: #055b83;
  padding: 10px;

}

.createNewRoom label {
  padding-top: 20px;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #000608;
}

.submit-button {
  background: #E78E4F;
  margin: 10px;
  border-radius: 4px;
}

main {
  grid-area: m;
  align-content: end;
  font-family: 'Economica', 'serif';
  font-size: large;
  padding: 15px;
}

.message-username {
  color: #033952;
  font-size: 20px;
}

.message-sentAt {
  color: #ad92a2;
}

.message-content {
  padding-bottom: 20px;
}

footer {
  grid-area: f;
  border-top: 5px solid #055b83;
  background-color: #033952;
  color: white;
  justify-content: center;
}
